body{ color: white; font-family: Arial, Helvetica, sans-serif; padding-top: 150px; background-image: url(pozadina.jpg); }
}
h1{
	border-style: dotted; 
	border-color: white;
	color: #4CAF50;
}
input[type=submit] {
    width: 15%;
    background-color: #45a049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text]:hover {
    background-color: #00ff99;
}